*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/* globle */
.containar{
    width: 80%;
    margin: auto;
}

a{
    text-decoration: none;
    color:black;
}

.d-flex{
    display: flex;
}
.justify-content{
    justify-content:center;
}
.bg-light{
    background-color: lightgray;
}
.padding-top-bottom{
    padding: 4% 0%;
}
.padding{
    padding: 4%;
}
.position-absolute{
    position: absolute;
}
.w100{
    width: 100%;
}
/* custom style */
.ul{
    text-decoration: none;
    list-style: none;
    gap: 22px;
    margin-left: 80%;
    font-size: 140%;
}    
.head h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7% 0% 3%;
    font-size: 62px;
}
.img{
  margin: 7%;
  gap: 22px;
  width: 90%;
}
.head button{
  font-size: 115%;
  width: 18%;
  color: white;
  background-color: rgb(2, 53, 53);
  border-radius: 60px;
  padding: 1%;
}

/* section 2 */
.wellbeing {
    background-color: lightgray;
    width: 1095px;
  padding: 48px 7%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 7% 15%;
  height: 446px;
  border-radius: 2%;
}
.wellbeing h1 {
    font-size: 60px;
    margin-bottom: 30px;
}
.i {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.icon {
    width: 45px;
    height: 45px;
    color: white;
    background-color: rgb(1, 50, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;
}
.i p {
    font-size: 17px;
    margin-top: 15px;
}
.wellbeing img {
    width: 125%;
    position: relative;
    top: 6%;
    height: 119%;
}

/* section 3 */
.fresh{
    width: 700px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 15%;
  gap: 85px;

}
.fresh img{
    width: 145% ;
    height: 500px;
    border-radius: 4%;
}
.text-fresh{
    width: 35%;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
}
.text-fresh h1{
    width: 400%
}
.text-fresh p{
   padding: 7%;
  width: 300%;
}
.fresh-p {
   display: flex;
  flex-direction: column;
}

.fresh-p p {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.fresh-p i{
    color: rgb(1, 86, 86);
    border: 2px solid rgb(1, 86, 86) ;
    border-radius: 50%;
    padding: 2%;
    width: 10%;
    height: 39px
}

/* Section 4 */

.sec4 {
    width: 75%;
    margin: 45% auto 0;
    height: 592px;
    position: relative;
}
.sec4-img {
    width: 100%;
    height: 100%;
}
.sec4-img img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    object-fit: cover;
}
.text-img {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    color: white;
    text-align: center;
    font-size: 125%;
}
.text-img h1 {
    padding: 2% 4%;
}
.text-img button {
    width: 20%;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 150%;
    background-color: transparent;
    color: white;
    padding: 1%;
}
.icon-img {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -80px;
    left: calc(50% - 30px);
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* الجزء الاورنج الي ع الصوره */

.features {
    width: 80%;
    height: 220px;
    background-color: #fce0d5;
    border-radius: 8px;
    position: absolute;
    bottom: -100px;
    left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.feature {
    text-align: center;
}
.feature .icon {
    width: 48px;
    height: 48px;
    border: 2px solid #222;
    border-radius: 50%;
    color: #222;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 22px;
}
.feature p {
    color: #222;
    font-size: 14px;
    margin-top: 10px;
}

footer {
    height: 150px;
    background-color: #286872;
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    color: white;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: bold;
}
.logo span {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
}
.social {
    display: flex;
    gap: 18px;
}
.social a {
    color: white;
    text-decoration: none;
}
.footer-links {
    display: flex;
    gap: 30px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}